.section {
  width: 1170px;
  margin: 0 auto;
}

.title-section {
  font-family: Open Sans, sans-serif;
  font-weight: bold;
  font-size: 27px;
  line-height: 37px;
  text-align: center;
  text-transform: uppercase;
  color: #18B4CF;
  margin-bottom: 52px;
}

.section {
  background: #F2F2F2;
  padding-top: 49px;
  box-sizing: border-box;
}

/* HEADER START */

.pagination{
  background: #313131;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pagination-logo {
  text-decoration: none;
  display: flex;
}

.logo-img {
  width: 27px;
  height: 27px;
  margin-left: 29px;
}

.logo-text {
  font-family: Open Sans, sans-serif;
  font-weight: bold;
  font-size: 22px;
  line-height: 30px;
  color: #FFFFFF;
  margin-left: 27px;
}

.pagination-menu-list{
  display: flex;
}

.pagination-menu-item-bt {
  list-style-type: none;
}

.pagination-menu-item-link {
  font-family: Open Sans, sans-serif;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
  color: #FFFFFF;
  text-decoration: none;
  margin: 0 18px;
}

.pagination-menu-item-link:hover{
  color: #14B9D5;
}

.pagination-search-bgr {
  background: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination-search {
  padding: 27px 26px;
}

.sentence-head {
  background: url("./image/header-background.png");
  height: 369px;
  text-align: center;
  padding-top: 160px;
  padding-bottom: 74px;
  box-sizing: border-box;
}

.sentence-head-text {
  font-family: Open Sans, sans-serif;
  font-weight: bold;
  font-size: 27px;
  line-height: 37px;
  color: #FFFFFF;
  margin-bottom: 44px;
}

.sentence-head-button {
  width: 170px;
  height: 55px;
  border: none;
  border-radius: 3px;
  font-family: Open Sans, sans-serif;
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;
  margin: 0 10px;
}

.head-bt-1 {
  background: #89CA62;
}

.head-bt-2 {
  background: #14B9D5;
}

/* HEADER END */


/* SECTION 1 START */

.s-1 {
  padding-bottom: 42px;
}

.container-section-1 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 878px;
  align-content: space-between;
}

.block-section-1 {
  background: #FFFFFF;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03);
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 370px;
  margin-bottom: 30px;
}

.block-section-text-1 {
  font-family: Open Sans, sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: #353A3D;
  margin: 20px auto;
}

/* SECTION 1 END */


/* SECTION 2 START */

.section-2 {
  background: url("./image/Shape 23.jpg");
}

.box-section-2 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  align-items: center;
  grid-row-gap: 96px;
  padding-top: 108px;
  padding-bottom: 192px;
}

.title-section-2 {
  font-family: Open Sans, sans-serif;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  text-transform: uppercase;
  color: #FFFFFF;
  grid-column: 1/5;
  grid-row: 1/2;
}

.line-section-2 {
  width: 60px;
  height: 3px;
  background: #18B4CF;
  grid-column: 1/5;
  grid-row: 2/3;
}

/* SECTION 2 END*/


/* SECTION 3 START */

.section-3-box {
  display: grid;
  grid-auto-flow: column;
}

.section-3-img {
  width: 100%;
}
/* SECTION 3 END */


/* SECTION 4 START */

.s-4 {
  padding-bottom: 71px;
}

.section-4-box {
  display: grid;
  grid-template-rows: 260px 1fr 1fr 260px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-row-gap: 45px;
  grid-column-gap: 35px;
  grid-template-areas:
  "block-1 block-1 block-1 block-2"
  "block-3 block-3 block-4 block-4"
  "block-5 block-5 block-6 block-6"
  "block-7 block-8 block-8 block-8";
}

.block-section-4-1 {
  grid-area: block-1;
}

.block-section-4-2 {
  grid-area: block-2;
}

.block-section-4-3 {
  grid-area: block-3;
}

.block-section-4-4 {
  grid-area: block-4;
}

.block-section-4-5 {
  grid-area: block-5;
}

.block-section-4-6 {
  grid-area: block-6;
}

.block-section-4-7 {
  grid-area: block-7;
}

.block-section-4-8 {
  grid-area: block-8;
}

.section-4-style-1 {
  display: flex;
  width: 856px;
  height: 259px;
  background: #F9F7F7;
  justify-content: space-between;
}

.section-4-style-2 {
  background: #F9F7F7;
  height: 259px;
  width: 277px;
  text-align: center;
}

.block-section-4-1-wrapper {
  text-align: right;
}

.block-section-title-4 {
  font-family: Open Sans, sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: #353A3D;
}

.section-4-ti {
  margin-top: 41px;
  margin-right: 24px;
  margin-bottom: 14px;
}

.block-section-text-4 {
  font-family: Open Sans, sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #5B6469;
}

.section-4-te {
  margin-right: 24px;
  margin-left: 10px;
  margin-bottom: 40px;
  overflow: auto;
}

.block-section-4-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section-4-te-2 {
  margin: 12px 14px 15px 0;
}

.section-4-pe-2 {
  margin: 0 14px;
}

.block-s-4 {
  background: #F9F7F7;
  height: 418px;
  width: 554px;
  text-align: right;
}

/* SECTION 4 END */


/* FOOTER START */

.page-bottom-wrapper {
  background: #000000;
}

.page-bottom-text {
  display: grid;
  grid-template-columns: 1fr 38px 64px;
  align-items: center;
  height: 80px;
  grid-column-gap: 3px;
}

.page-bottom-text{
  font-family: Open Sans, sans-serif;
  font-size: 13px;
  line-height: 13px;
  color: #FFFFFF;
}

.page-bottom-logo {
  padding-top: 8px;
}

.page-bottom-logo-text {
  font-family: Open Sans, sans-serif;
  font-size: 16px;
  line-height: 16px;
  color: #FFFFFF;
  font-weight: bold;
  text-transform: uppercase;
}

/* FOOTER END */
