body {
  min-width: 1200px;
}

.container {
  width: 100%;
  max-width: 1160px;
  margin: 0 auto;
}

.heading-title {
  text-align: center;
  margin-bottom: 100px;
}

.heading-text {
  color: #4E4E4E;
  font-size: 36px;
  font-family: Montserrat, sans-serif;
  display: inline-block;
  position: relative;
}

.heading-text:after {
  content: " ";
  background: #18CFAB;
  width: 80px;
  height: 1px;
  display: block;
  position: absolute;
  left: calc(50% - 40px);
  bottom: -24px;
  box-shadow: 13px 4px #18CFAB;
}

/* HEADER START */
.background-head {
  background: url("../img/Layer 1 5.jpg") fixed;
  background-size: cover;
  height: 1012px;
}

.pagination {
  background: rgba(94, 93, 88, 0.6);
}

.head {
  display: flex;
  justify-content: space-between;
  padding: 44px 0;
  align-items: center;
}

.pagination-logo {
  text-decoration: none;
  display: flex;
  align-items: center;
}

.pagination-logo-img {
  position: relative;
}

.logo-text {
  font-family: Montserrat, sans-serif;
  font-size: 32px;
  text-transform: uppercase;
  color: #FFFFFF;
  left: 16px;
  font-weight: bold;
  position: relative;
  z-index: 2;
}

.pagination-logo-img:after {
  content: "";
  position: absolute;
  z-index: 1;
  top: -55%;
  width: 58px;
  height: 67px;
  background-color: #18CFAB;
  clip-path: polygon(50% 0%, 50% 0%, 100% 25%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.pagination-logo-text {
  font-family: Montserrat, sans-serif;
  font-size: 32px;
  color: #FFFFFF;
  padding-left: 35px;
  font-weight: normal;
}

.pagination-logo-text-color {
  color: #18CFAB;
  font-weight: bold;
}

.pagination-menu-list {
  display: flex;
  align-items: center;
}

.pagination-menu-item-bt {
  list-style-type: none;
}

.pagination-menu-item-link {
  text-decoration: none;
  text-transform: uppercase;
  font-family: Montserrat, sans-serif;
  font-weight: bold;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.6);
  margin: 0 11px;
}

.search-icon{
  transition: opacity;
}

.pagination-menu-item-link-search {
  position: relative;
}

.search-icon-color{
  position: absolute;
  left: 0;
  opacity: 0;
}

.pagination-menu-item-link-search:hover .search-icon-color{
  opacity: 1;
  border-bottom: 2px solid #18CFAB;
  padding-bottom: 45px;
}

.pagination-menu-item-link-search:hover .search-icon{
  opacity: 0;
}

.pagination-menu-item-link:hover:not(.pagination-menu-item-link-search) {
  border-bottom: 2px solid #18CFAB;
  padding-bottom: 49px;
  color:  #18CFAB;
}

.sentence-head-text-1, .sentence-head-text-2, .sentence-head-text-3{
  font-family: Montserrat, sans-serif;
  color: #FFFFFF;
}

.sentence-head {
  text-align: center;
  padding-top: 264px;
  padding-bottom: 236px;
  box-sizing: border-box;
}

.sentence-head-text-color {
  color: #18CFAB;
}

.sentence-head-text-2 {
  font-size: 78px;
}

.sentence-head-text-3 {
  text-transform: capitalize;
  color: #d4d4d4;
  margin-bottom: 134px;
}

.sentence-head-text-1, .sentence-head-text-2 {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 22px;
}

.sentence-head-text-1, .sentence-head-text-3 {
  font-size: 35px;
}

.button {
  width: 170px;
  height: 65px;
  border: none;
  border-radius: 3px;
  font-family: Montserrat, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  font-size: 15px;
  line-height: 25px;
  color: #FFFFFF;
  cursor: pointer;
}

.button-shadow {
  box-shadow: 0 -5px white;
}

.head-bt-left {
  background-color: #18CFAB;
  margin-right: 26px;
}

.head-bt-right{
  background-color: #00CBF6;
}

/* HEADER END */


/* SECTION-ONE START */

.section-one {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
}

.section-one-box {
  padding-bottom: 110px;
  border-top: 8px solid white;
  cursor: pointer;
  text-decoration: none;
  align-content: space-between;
}

.section-one-box:nth-child(odd) {
  background-color: #1C2A33;
  padding-top: 85px;
  color: #18CFAB;
}

.section-one-box:nth-child(even) {
  background-color: #18CFAB;
  padding-top: 105px;
  color: #FFFFFF;
}

.section-one-text {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
  font-family: Montserrat, sans-serif;
  margin-top: 50px;
}

/* SECTION-ONE END */


/* SECTION-TWO START */

.section-two-menu-item-bt.active {
  background-color: #18CFAB;
  color: #FFFFFF;
  position: relative;
}

.active:after {
  content: url("../img/Rectangle 60.png");
  position: absolute;
  bottom: -25px;
  left: 83px;
}

.section-two-menu-content:not(:first-child) {
  display: none;
}

.section-two {
  padding-top: 85px;
  padding-bottom: 90px;
}

.section-two-menu {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  text-align: center;
  margin-bottom: 23px;
}

.section-two-menu-item-bt {
  list-style-type: none;
  font-size: 16px;
  line-height: 39px;
  font-family: Montserrat, sans-serif;
  color: #717171;
  background: #F8FCFE;
  border: 1px solid #EDEFEF;
  padding: 16px 0;
  cursor: pointer;
}

.section-two-menu-item-bt:hover {
  border: 1px solid #18CFAB;
}

.section-two-menu-content-all {
  position: relative;
}

.section-two-menu-content-text {
  color: #777777;
  font-size: 14px;
  line-height: 24px;
  font-family: Montserrat, sans-serif;
  margin-left: 15px;
  position: absolute;
  left: 192px;
  top: 0;
}

/* SECTION-TWO END */


/* SECTION-THREE START */

.section-three {
  background: url("../img/Layer 21 1.png");
  text-align: center;
  padding: 127px 0;
}

.section-three-title, .section-three-text {
  font-family: Montserrat, sans-serif;
}

.section-three-title {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 40px;
  line-height: 40px;
  color: #18CFAB;
  margin-bottom: 12px;
}

.section-three-text {
  color: #D8D8D8;
  font-size: 16px;
  line-height: 40px;
  margin-bottom: 62px;
}

.section-three-btn {
  background-color: #18CFAB;
}

/* SECTION-THREE END */


/* SECTION-FOUR START */

.section-four {
  padding-top: 96px;
  padding-bottom: 100px;
  background-color: #E9EDEF;
  margin: 0 auto;
}

.section-four-menu {
  display: flex;
  text-align: center;
  justify-content: center;
}

.section-four-menu-item-bt {
  color: #717171;
  font-size: 14px;
  line-height: 42px;
  font-family: Montserrat, sans-serif;
  list-style-type: none;
  border: 1px solid #DADADA;
  cursor: pointer;
  padding: 0 15px;
}

.section-four-menu-item-bt:hover {
  border: 1px solid #18CFAB;
}

.active-color-btn {
  border: 1px solid #18CFAB;
  color: #18CFAB;
}

.section-four-menu-item-bt:first-child {
  padding: 0 27px;
}

.toggle-content {
  -webkit-transition: height .25s ease;
  -o-transition: height .25s ease;
  transition: height .25s ease;
  overflow: hidden;
}

.toggle-content {
  height: 100%;
}

.toggle-content.show {
  height: 0;
  overflow: hidden;
  transition: all 300ms ease-in-out;
}

.section-four-gallery {
  display: flex;
  flex-wrap: wrap;
  margin-top: 70px;
  margin-bottom: 70px;
}

.back {
  display: flex;
  border-top: 2px solid #18CFAB;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  padding-top: 35px;
  padding-bottom: 40px;
  justify-content: space-between;
  transform: rotateY(180deg);
  position: absolute;
  top: 0;
  left: 0;
  width: 290px;
  height: 206px;
}

.section-four-gallery-link{
  display: flex;
}

.section-four-gallery-content{
  text-align: center;
}

.icon-card-border-left {
  border: 2px solid #18CFAB;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-sizing: border-box;
  display: inline-block;
  position: relative;
}

.icon-card-inside-left {
  position: absolute;
  top: calc(50% - 7px);
  left: calc(50% - 7px);
  fill: #1FDAB5;
}

.section-four-gallery-link-left:hover .icon-card-inside-left{
  fill: white;
}

.section-four-gallery-link-left:hover .icon-card-border-left{
  background: #18CFAB;
}

.section-four-gallery-link-left {
  margin-right: 5px;
}

.icon-card-border-right {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  background: #18CFAB;
}

.icon-card-inside-right {
  fill: white;
  position: absolute;
  top: calc(50% - 6px);
  left: calc(50% - 6px);
}

.section-four-gallery-link-right:hover .icon-card-inside-right{
  fill: #18CFAB;
}

.section-four-gallery-link-right:hover .icon-card-border-right{
  border: 2px solid #18CFAB;
  background: none;
}

.section-four-gallery-title, .section-four-gallery-text {
  font-family: Montserrat, sans-serif;
}

.section-four-gallery-title {
  text-transform: uppercase;
  color: #18CFAB;
  font-weight: bold;
  font-size: 15px;
  line-height: 25px;
}

.section-four-gallery-text{
  font-weight: 300;
  font-size: 12px;
  line-height: 25px;
  color: #8A8A8A;
}

.front, .back {
  transition: 1s;
  backface-visibility: hidden;
}

.card {
  position: relative;
  width: 290px;
  height: 206px;
}

.card:hover .front {
  transform: rotateY(180deg);}
.card:hover .back {
  transform: rotateY(0);}

.section-four-gallery-btn {
  background: #18CFAB;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}

.section-four-gallery-btn-visibility {
  display: block;
}

.section-four-gallery-btn-visibility-none,
.active-card {
  display: none;
}

.section-four-gallery-btn:before {
  content: url("../img/Forma 1.png");
  padding-right: 15px;
}

.section-four-gallery-btn:active,
.section-four-gallery-btn:focus {
  outline: none;
}

/* SECTION-FOUR END */


/* SECTION-FIVE START */

.section-five {
  padding-top: 80px;
  padding-bottom: 130px;
}

.section-five-photo-gallery-content:hover .section-five-photo-calendar {
  background: #18CFAB;
  transition-duration: 0.5s
}

.section-five-photo-gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 35px;
  grid-row-gap: 45px;
}

.section-five-photo-gallery-content {
  text-decoration: none;
  font-family: Montserrat, sans-serif;
  position: relative;
  z-index: 1;
}

.section-five-photo-calendar {
  background: #203E38;;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
  padding: 14px 20px;
  color: #FFFFFF;
  font-size: 16px;
  line-height: 25px;
  width: 70px;
  box-sizing: border-box;
  text-align: center;
}

.section-five-wrapper-content {
  padding: 17px 0 15px 16px ;
}

.section-five-title {
  font-weight: bold;
  font-size: 18px;
  color: #717171;
  margin-bottom: 18px;
}

.section-five-photo-gallery-content:hover .section-five-title {
  color: #18CFAB;
  transition-duration: 0.5s
}

.section-five-text {
  display: flex;
  color: #777777;
  font-weight: 300;
  font-size: 14px;
}

.section-five-text-reviews:after {
  content: "|";
  margin: 0 17px;
}

/* SECTION-FIVE END */


/* SECTION-SIX START */

.section-six {
  background: url("../img/Layer 3338.png");
  text-align: center;
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 110px;
}

.heading-text-color {
  color: #FFFFFF;
  font-weight: normal;
}

.section-six-quotes {
  margin-bottom: 36px;
}

.section-six-review {
  font-family: Montserrat, sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 30px;
  color: #BBBBBB;
  margin-bottom: 37px;
  height: 90px;
  overflow: auto;
}

.section-six-name {
  font-weight: bold;
  text-transform: uppercase;
  color: #18CFAB;
}

.section-six-position{
  font-weight: 300;
  color: #BBBBBB;
  margin-bottom: 38px;
}

.section-six-name, .section-six-position {
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  line-height: 27px;
}

.section-six-ava {
  border: 12px solid rgba(31, 218, 181, 0.2);
  border-radius: 50%;
}




.swiper-object {
  position: relative;
}

.image-swiper{
  width: 394px;
  margin-top: 38px;
}

.section-six-carousel-collection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 516px;
  margin: 0 auto;
  position: absolute;
  top: 35px;
  left: calc(50% - 258px);
}

.section-six-carousel-collection-arrow {
  fill: #BBBBBB;
}

.section-six-carousel-collection-btn-prev,
.section-six-carousel-collection-btn-next {
  border: 1px solid #BBBBBB;
  width: 31px;
  height: 31px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  min-width: 0;
}

.swiper-object .swiper-slide-thumb-active {
  position: relative;
  top: -15px
}

.swiper-object .swiper-wrapper {
  padding-top: 15px;
}

.section-six-carousel-collection-btn-prev:hover,
.section-six-carousel-collection-btn-next:hover  {
  background-color: #18CFAB;
  border: none;
}

.section-six-carousel-collection-btn-prev:hover .section-six-carousel-collection-arrow,
.section-six-carousel-collection-btn-next:hover .section-six-carousel-collection-arrow
{
  fill: #FFFFFF;
}

.arrow-right {
  transform: rotate(180deg);
}

.section-six-ava-mini {
  display: inline-block;
  border: 5px solid rgba(31, 218, 181, 0.2);
  border-radius: 50%;
}

/* SECTION-SIX END */

/* END-PAGE START */

.end-page {
  background: #22353F;
  text-align: center;
  padding: 48px 0;
}

.end-page-text {
  font-family: Montserrat, sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 26px;
  color: #AEAEAE;
}

.end-page-text-color {
  color: #18CFAB;
}

.end-page-text-color:after{
  content: "|";
  color: #AEAEAE;
}
/* END-PAGE END */













/*.section-six {*/
/*  background: url("../img/Layer 3338.png");*/
/*  text-align: center;*/
/*  background-size: cover;*/
/*  padding-top: 100px;*/
/*  padding-bottom: 110px;*/
/*}*/

/*.heading-text-color {*/
/*  color: #FFFFFF;*/
/*  font-weight: normal;*/
/*}*/

/*.section-six-quotes {*/
/*  margin-bottom: 36px;*/
/*}*/

/*.section-six-review {*/
/*  font-family: Montserrat, sans-serif;*/
/*  font-weight: 300;*/
/*  font-size: 16px;*/
/*  line-height: 30px;*/
/*  color: #BBBBBB;*/
/*  margin-bottom: 37px;*/
/*  height: 90px;*/
/*  overflow: auto;*/
/*}*/

/*.section-six-name {*/
/*  font-weight: bold;*/
/*  text-transform: uppercase;*/
/*  color: #18CFAB;*/
/*}*/

/*.section-six-position{*/
/*  font-weight: 300;*/
/*  color: #BBBBBB;*/
/*  margin-bottom: 38px;*/
/*}*/

/*.section-six-name, .section-six-position {*/
/*  font-family: Montserrat, sans-serif;*/
/*  font-size: 16px;*/
/*  line-height: 27px;*/
/*}*/

/*.section-six-ava {*/
/*  border: 12px solid rgba(31, 218, 181, 0.2);*/
/*  border-radius: 50%;*/
/*}*/






/*.swiper-object {*/
/*  position: relative;*/

/*}*/

/*.image-swiper{*/
/*  width: 394px;*/
/*  margin-top: 38px;*/

/*}*/

/*.section-six-carousel-collection {*/
/*  display: flex;*/
/*  justify-content: space-between;*/
/*  align-items: center;*/
/*  width: 516px;*/
/*  margin: 0 auto;*/
/*  position: absolute;*/
/*  top: 35px;*/
/*  left: calc(50% - 258px);*/
/*}*/

/*.section-six-carousel-collection-arrow {*/
/*  fill: #BBBBBB;*/
/*}*/

/*.section-six-carousel-collection-btn-prev,*/
/*.section-six-carousel-collection-btn-next {*/
/*  border: 1px solid #BBBBBB;*/
/*  width: 31px;*/
/*  height: 31px;*/
/*  display: flex;*/
/*  align-items: center;*/
/*  justify-content: center;*/
/*  box-sizing: border-box;*/
/*  min-width: 0;*/
/*}*/

/*.image-swiper-space .swiper-slide-thumb-active {*/
/*  position: relative;*/
/*  top: -15px*/
/*}*/

/*.image-swiper-space .swiper-wrapper {*/
/*  padding-top: 15px;*/
/*}*/

/*.section-six-carousel-collection-btn-prev:hover,*/
/*.section-six-carousel-collection-btn-next:hover  {*/
/*  background-color: #18CFAB;*/
/*  border: none;*/
/*}*/

/*.section-six-carousel-collection-btn-prev:hover .section-six-carousel-collection-arrow {*/
/*  fill: #FFFFFF;*/
/*}*/

/*.section-six-carousel-collection-btn-next:hover .section-six-carousel-collection-arrow {*/
/*  fill: #FFFFFF;*/
/*}*/

/*.arrow-right {*/
/*  transform: rotate(180deg);*/
/*}*/

/*.section-six-ava-mini {*/
/*  display: inline-block;*/
/*  border: 5px solid rgba(31, 218, 181, 0.2);*/
/*  border-radius: 50%;*/
/*}*/


