body {
  font-family: sans-serif;
}

.list {
  text-align: center;
  padding: 25px 0;
  list-style: none;
  margin-block-start: 0;
  margin-block-end: 0;
}

.list-link {
  color: #FF0000;
  text-decoration: none;
  target: _blank;
}

.list-item {
  display: inline-block;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  align-items: center;
  letter-spacing: 2.7px;
  text-transform: uppercase;
  margin: 0 36px;
}

.image-phone {
  width: 100%
}

.section {
  width: 1145px;
  margin: 0 auto;
}

.main-content {
  margin-top: 49px;
  text-align: center;
}

.main-content-title {
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: 3.3px;
  text-transform: uppercase;
  margin-bottom: 38px;
}

.main-content-text {
  line-height: 26px;
  letter-spacing: 2.4px;
  margin-bottom: 28px;
}

.btn {
  background: #FF0000;
  color: white;
  border: none;
  outline: none;
  border-radius: 4px;
  padding: 18px 43px;
  font-weight: bold;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  width: 191px;
  height: 51px;
}

.page-bottom-text {
  padding: 40px 0;
  text-align: right;
}

.copyright {
  font-weight: bold;
  line-height: 20px;
  letter-spacing: 2.4px;
}
