body {
  font-family: sans-serif;
}

.section {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

.head {
  margin-top: 61px;
}

.logo-link {
  font-size: 80px;
  line-height: 94px;
  color: #000000;
  text-decoration: none;
  padding-bottom: 38px;
  display: inline-block;
  vertical-align: center;
}

.logo-2 {
  color: #4dcaff;
}

.list {
  background-color: #35444F;
  display: flex;
  list-style: none;
  justify-content: center;
}

.list-item {
  padding: 26px 38px 19px 38px;
  border-right: 1px solid white;
  border-left: 1px solid white;
}

.list-item-link {
  text-decoration: none;
  font-size: 24px;
  line-height: 28px;
  color: white;
}

.main-section {
  display: flex;
  margin: 50px auto;
  justify-content: space-between;
}

.sidebar {
  width: 334px;
  border: 1px solid #000000;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
}

.sidebar-item {
  font-size: 27px;
  line-height: 27px;
  color: #485863;
  padding:26px 44px;
  vertical-align: center;
  text-decoration: none;
}

.main-content {
  width: 885px;
}

.main-img-wrapper {
  display: flex;
  border: 1px solid #000000;
  justify-content: center;
  align-items: center;
  padding: 80px 0;
}

.main-img {
  width: 320px;
}

.main-text {
  font-size: 18px;
  line-height: 24px;
  color: #2C2C2C;
  margin-top: 35px;
}

.page-bottom-text {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  margin-bottom: 30px;
  background-color: rgba(99, 105, 110, 0.48);
}

.page-bottom-list {
  display: flex;
}

.page-bottom-item {
  font-size: 28px;
  line-height: 50px;
  margin-right: 30px;
  list-style: none;
}

.page-bottom-link{
  color: black;
  text-decoration: none;
}

.page-bottom-text {
  font-size: 24px;
  line-height: 24px;
  color: black;
}

