.container {
  max-width: 1206px;
  width: 100%;
  margin: 0 auto;
}

.background-body {
  background: url("../img/Фон 1.png") no-repeat;
  background-size: cover;
}

.navigation {
  background: rgba(0, 0, 0, 0.4);
}

.head {
  display: flex;
  justify-content: space-between;
  padding: 18px 0;
  align-items: center;
}

.logo-company {
  font-family: Ubuntu, sans-serif;
  font-weight: bold;
  font-size: 22px;
  line-height: 22px;
  text-transform: uppercase;
  color: #FFFFFF;
  text-decoration: none;
}

.logo-company:hover {
  color: #236e47;
}

.header-nav {
  display: flex;
  align-items: center;
}

.icon {
  display: flex;
}

.icon::after {
  content: "";
  width: 1px;
  height: 19px;
  background: rgba(255, 255, 255, 0.9);
  opacity: 0.5;
  margin: 0 25px;
  align-self: center;
}

.icon-link {
  display: flex;
  align-items: center;
}

.icon-link-indent {
  margin-right: 25px;
}

.icon-nav-color {
  fill: white;
}

.icon-link:hover .icon-nav-color{
  fill: #236e47;
}

.account-link {
  margin-right: 3px;
  text-decoration: none;
  color: #FFFFFF;
}

.account-link:hover {
  color: #236e47;
}

.account {
  font-family: Ubuntu, sans-serif;
  font-size: 14px;
  line-height: 14px;
  color: #FFFFFF;
}

.modal-window-size {
  width: 100vw;
  height: calc(100vh - 60px);
  position: relative;
}

.modal-window {
  background: white;
  width: 444px;
  height: 584px;
  padding: 30px 60px 38px;
  box-sizing: border-box;
  margin: 0 auto;
  position: relative;
  top: calc(50% - 292px);
}

.modal-window-title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.modal-window-title::before {
  content: "";
  width: 18px;
  height: 18px;
  background: #3CB878;
  position: absolute;
  left: 0;
  top: 29px;
}

.modal-window-heading {
  font-family: Ubuntu, sans-serif;
  font-size: 20px;
  line-height: 20px;
  color: #434343;
}

.modal-window-come {
  font-family: Ubuntu, sans-serif;
  font-size: 14px;
  line-height: 14px;
  color: #3CB878;
  text-decoration: none;
}

.modal-window-come:hover {
  text-decoration: underline;
  color: #01813F;
}

.modal-window-button {
  display: flex;
  justify-content: space-between;
}

.modal-window-button-fb {
  background: #305DB8;
  padding: 12px 22px 12px 17px;
}

.modal-window-button-gl:hover,
.modal-window-button-gl:focus,
.modal-window-button-gl:active{
  outline: none;
  border: none;
  background: #AB1F09;
}

.modal-window-button-fb:hover,
.modal-window-button-fb:focus,
.modal-window-button-fb:active{
  background: #022263;
  outline: none;
  border: none;
}

.modal-window-button-fb, .modal-window-button-gl {
  width: 160px;
  height: 48px;
  border: none;
  font-family: Ubuntu, sans-serif;
  font-size: 16px;
  line-height: 16px;
  color: #FFFFFF;
  border-radius: 3px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.modal-window-button-gl {
  background: #DF4A32;
  padding: 15px 27px 14px 12px;
}

.modal-window-button-link{
  text-decoration: none;
}

.modal-window-button-line::before {
  content: "";
  width: 1px;
  height: 28px;
  background: #0A162F;
  opacity: 0.1;
  position: absolute;
  left: 49px;
  top: 10px;
}

.modal-window-text {
  font-family: Ubuntu, sans-serif;
  font-size: 14px;
  line-height: 14px;
  color: #848484;
  margin: 31px 0 11px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal-window-text::before, .modal-window-text::after{
  content: "";
  background: #F2F2F2;
  width: 152px;
  height: 1px;
  display: inline-block;
}

.modal-window-input {
  border: 1px solid #F2F2F2;
  border-radius: 4px;
  width: 324px;
  height: 44px;
  padding: 15px 20px;
  box-sizing: border-box;
  margin-bottom: 15px;
  font-family: Ubuntu, sans-serif;
  font-size: 14px;
  line-height: 14px;
  color: #434343;
}

.modal-window-input:focus,
.modal-window-input:active {
  border: 0;
  outline: none;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.21);
}

::-webkit-input-placeholder {color:#BEBEBE; font-size: 14px; font-family: Ubuntu, sans-serif; }

.modal-window-check {
  font-family: Ubuntu, sans-serif;
  font-size: 14px;
  line-height: 14px;
  color: #434343;
}

.modal-window-check-link {
  color: #3CB878;
  text-decoration: none;
}

.modal-window-check-link:hover {
  text-decoration: underline;
  color: #01813F;
}

.modal-window-button-create {
  font-family: Ubuntu, sans-serif;
  font-size: 16px;
  line-height: 16px;
  color: #FFFFFF;
  border: none;
  background:  rgba(60, 184, 120, 0.8);
  border-radius: 4px;
  width: 100%;
  padding: 14px 100px;
  margin-top: 20px;
  box-sizing: border-box;
}

.modal-window-button-create:hover {
  background: #01813F;
}
