body {
  background: url("../img/background 1.png") no-repeat;
  background-size: cover;
}

.container {
  max-width: 1020px;
  width: 100%;
  margin: 0 auto;
}

.section {
  max-width: 1020px;
  width: 100%;
  margin: 0 auto;
}

.head {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 25px;
}

.head-logo {
  text-decoration: none;
  color: #FFFFFF;
  display: flex;
  position: relative;
}

.head-img {
  margin-right: 8px;
  width: 53px;
  height: 47px;
  transition: opacity;
}

.head-img-color {
  position: absolute;
  opacity: 0;
}

.head-text {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 29px;
  line-height: 29px;
  display: flex;
  flex-direction: column;
}

.head-text-size {
  font-size: 18px;
  line-height: 18px;
  margin-top: 2px;
}

.head-logo:hover .head-img-color{
  opacity: 1;
  transition-duration: 0.5s
}

.head-logo:hover .head-img{
  opacity: 0;
  transition-duration: 0.5s
}

.head-logo:hover .head-text{
  color: #F26522;
  transition-duration: 0.5s
}

.head-contact {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.head-contact-style {
  color: white;
  text-decoration: none;
  transition: color;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  line-height: 18px;
}

.head-contact-phone {
  margin-left: 74px;
}

.head-contact-style:hover {
  color: #F26522;
  transition-duration: 0.5s
}

.photo {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 60px;
  grid-row-gap: 40px;
}

.photo-content {
  text-decoration: none;
  position: relative;
}

.photo-img {
  width: 300px;
  height: 220px;
}

.photo-block {
  position: absolute;
  bottom: 41px;
  left: 2px;
  background: #F26522;
  width: 296px;
  opacity: 0;
  transition-property: opacity;
  display: flex;
  justify-content: space-between;
  padding: 7px 16px 12px 16px;
  box-sizing: border-box;
  align-items: flex-end;
}

.photo-text-block {
  font-family: 'Roboto', sans-serif;
  color: #FFFFFF;
}

.bl-1 {
  font-size: 10px;
  line-height: 10px;
}

.bl-2 {
  font-size: 20px;
  line-height: 20px;
  margin-top: 8px;
}

.arrow {
  font-size: 14px;
  line-height: 14px;
}

.arrow::after {
  content: url("../img/Vector 1.png");
  margin-left: 16px;
}

.photo-text {
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  line-height: 18px;
  color: #FFFFFF;
  margin-top: 20px;
  text-align: center;
  transition: color;
}

.photo-content:hover .photo-text {
  color: #F26522;
  transition-duration: 0.5s
}

.photo-content:hover .photo-block{
  opacity: 100%;
  transition-duration: 0.5s
}

.page-bottom {
  padding-top: 50px;
  padding-bottom: 15px;
}

.page-bottom-text {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  line-height: 12px;
  color: #FFFFFF;
  text-align: center;
}
