body {
  background: black;
}

.section {
  height: 900px;
  padding-top: 20px;
  padding-bottom: 20px;
  overflow: hidden;
  box-sizing: border-box;
}

.box-section {
  perspective: 500px;
  animation: animation-perspective 30s infinite ease-in;
}

.text-style {
  width: 35%;
  margin: 0 auto;

  animation: animation-text 30s infinite ease-in;
}

@keyframes animation-perspective {
  0% {
    perspective: 500px;
  }
  100% {
    perspective: 300px;
  }
}

@keyframes animation-text {
  0% {
    transform: translate3d(0, 450px, 400px) rotateX(30deg);
  }
  100% {
     transform: translate3d(0, -600px, -250px) rotateX(30deg);
  }
}

.text {
  color: gold;
  font-weight: bold;
  font-family: sans-serif;
  font-size: 40px;
}

.text-title {
  text-align: center;
  text-transform: uppercase;
}

.text-paragraph {
  text-align: left;
}
